<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrace</title>
    <link rel="stylesheet" href="/static/registrace.css">
    
    
</head>
<body>
    
    <div class="warning-container">
        <div class="warning">
            <span id="fnameLength"></span>
            <span id="snameLength"></span>
            <span id="passwordWar"></span>
            <span id="age"></span>
        </div>
    </div>

    <div class="container">

        <div class="forms">
            <div class="form login">
                <h1>Sign up</h1>  

                <form onsubmit="return validateForm()" method='POST' action="/registrace">
                    <input type="text" id="nick" placeholder="prezdivka" name="nick" required>
                    
                    <input type="checkbox" name="je_plavec" required>

                    <input type="text" id="kanoe_kamarad" placeholder="kamarad" name="kanoe_kamarad">

                    <input type="submit" id="button" value="registrovat">
                </form>
            </div>
            <p><a href="/">storno</a>.  </p>
        </div>
    </div>
    <script src="/static/submit.js"></script>
</body>
</html>